@font-face {
    font-family: pixel-font;
    src: url(PixelifySans-VariableFont_wght.ttf);
}

body {
    background-color: rgb(10, 10, 10);
    color: #D3DAD9;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* border: 2px solid black; */
    margin: 0;
    font-family: pixel-font, sans-serif;
}

header {
   grid-column: 1 / 3;
   border: 5px solid #D3DAD9; 
   /* height: 4rem; */
   display: flex;
   align-items: center;
}

input {
    font-size: 1.3rem;
    background-color: rgb(27, 27, 27);
    color: #D3DAD9;
    font-family: pixel-font;
}

button {
    background-color: rgb(27, 27, 27);
    color: #D3DAD9;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    /* border-radius: 10px; */
    border: 3px solid #D3DAD9;
    font-family: pixel-font;
}

button:hover {
    background-color: rgb(71, 71, 71);
}

#createProjectForm {
    font-size: 1.5rem;
    font-weight: 900;
    border: 4px solid #bdc4c3;
    padding: 1rem;
    margin: 1rem;
    /* border-radius: 10px; */
}

.extraFormBox {
    font-size: 1.2rem;
    /* border: 3px solid #D3DAD9; */
    padding: 0.5rem;
}

#addTaskFormContainer {
    border: 5px solid #D3DAD9;
    /* height: 5rem; */
    position: fixed;
    z-index: 1000;
    background-color: rgb(65, 64, 64);
    /* color: black; */
    top: 20%;
    padding: 1rem;
    /* width: 100%; */
    /* height: 100%; */
}

#addTaskForm {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    padding: 1rem;
    /* border: 3px solid #D3DAD9; */
}

#addTaskForm > div {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addTaskForm > div > * {
    margin: 0.2rem;
}

.editTaskFormBox {
    font-size: 1.2rem;
    padding: 0.5rem;
}

#editTaskFormContainer {
    border: 5px solid #D3DAD9;
    position: fixed;
    z-index: 1000;
    background-color: rgb(65, 64, 64);
    top: 20%;
    padding: 1rem;
}

#formEditTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#formEditTask > div {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formEditTask > div > * {
    margin: 0.2rem;
}

textarea {
    font-size: 1.2rem;
    width: 25ch;
    height: 6rem;
    background-color: rgb(27, 27, 27);
    color: #D3DAD9;
    border: 3px solid #D3DAD9;
    outline: none;
    padding: 0.5rem;
    font-family: pixel-font;
}

select {
    font-size: 1.2rem;
    color:#D3DAD9;
    background-color: rgb(27, 27, 27);
    border: 3px solid #D3DAD9;
    font-family: pixel-font;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 5px solid #D3DAD9;
}

.projectCard {
    /* background-color: rgb(27, 27, 27); */
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid #D3DAD9;
    /* border-radius: 10px; */
}

.projectCard > button {
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.5rem;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    
}

.main > h2 {
    font-size: 2rem;
    margin: 1rem;
}

.toDoCard {
    border: 3px solid #D3DAD9;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
    width: 40ch; 
    /* display: flex; */
    /* flex-direction: column; */
    overflow-wrap: break-word;
}

.toDoCard > button {
    margin: 0.25rem;
}

