body {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* border: 2px solid black; */
    margin: 0;
}

header {
   grid-column: 1 / 3;
   border: 2px solid black; 
   /* height: 4rem; */
   display: flex;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 2px solid black;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid black;
    
}

